name: omaha-windows

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # for quickly testing patches over any previous partbuild
  quickwindows:
      runs-on: windows-latest
      env:
        VMAJOR: 137
        VERSION: 138.0.7204.158
        SRCDIR: omaha-src
        DEPOT_TOOLS_WIN_TOOLCHAIN: 0
        MSYS: winsymlinks:native
      steps:
      - name: Clone omaha
        shell: bash
        run: |
          mkdir -p ${{ env.SRCDIR }}
          cd ${{ env.SRCDIR }}
          git clone --recurse-submodules https://github.com/google/omaha

      - name: Build omaha
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          cd ${{ env.SRCDIR }}/omaha/omaha
          hammer --all --mode=all

      - name: Upload windows packages
        uses: actions/upload-artifact@v4
        with:
          name: packages-windows-${{ env.VERSION }}
          path: ${{ github.workspace }}\omaha-src\omaha-${{ env.VERSION }}\out\release\*.exe

      - name: Compress artifacts
        shell: bash
        run: |
          cd ${{ env.SRCDIR }}/chromium-$VERSION
          ZSTD_CLEVEL=12 tar -I zstd --force-local -cvpf D:/a/laddu/laddu/omaha-src/out.tar.zst ./out

      - name: Upload out directory
        uses: actions/upload-artifact@v4
        with:
          name: chromium-out-${{ env.VERSION }}
          path: ${{ github.workspace }}\omaha-src\out.tar.zst
          overwrite: true
